### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
*.txt
*.exe
*.out
settings.json
#Test results file
TestResults.xml
rough.c
# Step 1: Ignore everything
*

# Step 2: But don't ignore folders
!*/

# Step 3: And don't ignore files with extensions (like .c, .py, .md)
!*.*

# Step 4: Specifically allow the README and .gitignore itself
!.gitignore
!README.md
.vscode